<h1>Bienvenido a Sistema de Becas CETEM (versión Alpha)</h1>

<p>En este sitio te podrás inscribir a las Becas Comedor - Transporte - Trabajo</p>

</p>Empieza por crear un nuevo usuario para inscribirte o bien, logeate para comenzar con la Inscripción a las Becas</p>

