<div class="bg-success"><h1 class='text-center' > Bienvenido a SisBeC <small>(Versión Alpha)</small></h1> </div> 
<p>.<p>
<h4 class='text-center' > En este sitio te podrás inscribir a las Becas  </h4>

<h4 class='text-center' > Comedor - Transporte - Trabajo </h4>


<h4 class='text-center' > Empieza creando un Usuario para inscribirte ... o bien, Logeate para comenzar </h4>

</p> <%= link_to "Registrarme", new_user_registration_path, :class => 'btn btn-primary btn-xs'  %> <p> </p> <%= link_to "Logearme", new_user_session_path, :class => 'btn btn-primary btn-xs'  %>





